<div class="spacer15"></div>
<div class="spacer15"></div>

<div class="text-center">
  <%= bootstrap_form_tag  url: "/enter", method: :post do |f| %>
     <div style="margin-left:40%;margin-right:40%;">
      <%= f.password_field :password, label: "Password" %>
    </div>
    <%= f.submit "Login" %>
  <% end %>
</div>